@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{
  --font-family-main: "Plus Jakarta Sans", sans-serif;

  --font-weight-normal: 500;
  --font-weight-semibold: 700;
  --font-weight-bold: 800;

  --font-size-small: 16px;
  --font-size-medium: 20px;
  --font-size-large: 24px;

  --color-red: hsl(1, 90%, 64%);
  --color-blue: hsl(219, 85%, 26%);

  --color-white: hsl(0, 0%, 100%);
  --color-very-light-grayish-blue: hsl(210, 60%, 98%);
  --color-light-grayish-blue-1: hsl(211, 68%, 94%);
  --color-light-grayish-blue-2: hsl(205, 33%, 90%);
  --color-grayish-blue: hsl(219, 14%, 63%);
  --color-dark-grayish-blue: hsl(219, 12%, 42%); 
  --color-very-dark-blue: hsl(224, 21%, 14%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-main);
}

html, body{
  height: 100vh;
}

body{
  background-color: var(--color-light-grayish-blue-2);
}

p{
  font-size: var(--font-size-small);
}

/* Font weight */
.fw-normal{
  font-weight: var(--font-weight-normal);
}

.fw-semibold{
  font-weight: var(--font-weight-semibold);
}

.fw-bold{
  font-weight: var(--font-weight-bold);
}

/* Font size */
.fs-small{
  font-size: var(--font-size-small);
}

.fs-medium{
  font-size: var(--font-size-medium);
}

.fs-large{
  font-size: var(--font-size-large);
}


/* Colors */
.red{
  color: var(--color-red);
}

.blue{
  color: var(--color-blue);
}

.white{
  color: var(--color-white);
}

.very-light-grayish-blue{
  color: var(--color-very-light-grayish-blue);
}

.light-grayish-blue-1{
  color: var(--color-light-grayish-blue-1);
}

.light-grayish-blue-2{
  color: var(--color-light-grayish-blue-2);
}

.grayish-blue{
  color: var(--color-grayish-blue);
}

.dark-grayish-blue{
  color: var(--color-dark-grayish-blue);
}

.very-dark-blue{
  color: var(--color-very-dark-blue);
}

/* Background color */
.bg-light-grayish-blue-1{
  background-color: var(--color-light-grayish-blue-1);
}

.bg-light-grayish-blue-2{
  background-color: var(--color-light-grayish-blue-2);
}